button {

    font-family: verdana;
    font-weight: bold;
    font-size: 11px:
    text-align: center;
    color: darkblue;
    
    width: 102px;
    padding : 7px 8px 7px 32px;
    border: 1px solid darkolivergreen;
    border-radius: 7px;
    margin-top: 10px;
    background-position: 8px;
    background-repeat: no-repeat;
}

button.login {
    background-image: url(login.png.png);
}

button.signup {
    background-image: url(signup.png.png);
}

button.import {
    background-image: url(import.png.png);
}

button.add {
    background-image: url(add.png.png);
}

button.save {
    background-image: url(save.png.png);
}

button.delete {
    background-image: url(cancel.png.png);
}

button.update {
    background-image: url(update.png.png);
}

button.red {
    background-image: url(imej/merah.png);
}

button.blue {
    background-image: url(imej/biru.png);
}

button.green {
    background-image: url(imej/hijau.png);
}

button.black {
    background-image: url(imej/hitam.png);
}

button.print {
    background-image: url(print.png.png);
}

button.show {
    background-image: url(monitor.png.png);
}

button.search {
    background-image: url(search.png.png);
}

button:hover {
    background-color:darkgrey;
    cursor:pointer;

  width: 35%;
  height: 35px;
  background: #f44336;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  transition: background 0.3s ease; 
  position: relative;
    top: 20px; /* Moves the button 10 pixels down from its normal position */
    left: 2px;
  
}

button:hover {
  background: #e53935; 
}

button.print{
    width: 150;
    top: -450;

}