button {
    font-family: verdana;
    font-weight: bold;
    font-size: 11px:
    text-align: center;
    color: darkblue;
    
    width: 102px;
    padding : 7px 8px 7px 32px;
    border: 1px solid darkolivergreen;
    border-radius: 7px;
    margin-top: 10px;
    background-position: 8px;
    background-repeat: no-repeat;
}

button.login {
    background-image: url(login.png);
}

button.signup {
    background-image: url(signup.png);
}

button.import {
    background-image: url(import.png);
}

button.add {
    background-image: url(add.png);
}

button.save {
    background-image: url(save.png);
}

button.delete {
    background-image: url(delete.png);
}

button.update {
    background-image: url(update.png);
}

button.print {
    background-image: url(print.png);
}

button.show {
    background-image: url(monitor.png);
}

button.search {
    background-image: url(search.png);
}

button:hover {
    background-color:darkgrey;
    cursor:pointer;
}