h2{
    font-family: verdana;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: mintcream;
    
    margin: 0px auto;
    padding-bottom: 20px;
}

body{
    margin: 0px;
}

div {
    text-align: center;
    margin: 0px auto;
    padding-top: 20px;
}

div.menu{
    height:85px;
    background-color: dimgrey;
}

div.contestant{
    width: 360px;
}

div.judge{
    width: 500px;
}

div.manager{
    width: 615px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

ul li {
    display: block;
    float: left;
}

li ul {
    display: none;
}

ul li a {
    font-family: verdana;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: mintcream;
    
    width: 120px;
    padding: 10px
    border: none;
    margin: 0px;
    background-color: dimgrey;
    
    display: block;
    text-decoration: none;
}

ul li a:hover {
    color: whitesmoke;
    background-color: dimgrey;
}

li:hover ul {
    display: block;
    position: absolute;
}

li:hover li {
    float: none;
}

li:hover a {
    color: white;
    background-color: dimgrey;
}
